#destinatari {
    line-height: 1em;
    text-align: left;
    padding-left: 230px;
    font-style: italic;
}

#destinatari .cc{
    text-indent: -25px;
}

#oggetto {
    margin: 20px 0 10px;
    font-style: italic;
}

#firma {
    margin-top:30px;
    padding-left: 230px;
    text-align: center;
}

.page-break-after {
    page-break-after: always;
}

p.indent{
    text-indent: 50px;
}

#data_luogo{
    line-height: 1em;
}

#data_luogo strong{
    text-decoration: underline;
}

ol{
    list-style-position: outside;
}

.italic{
    font-style: italic;
}

hr{
    background: #000;
    height: 1px;
    border: none;
}

.fake_list_container{
    padding-left: 20px;
}

.fake_list{
    text-indent: -32px;
}

.fake_list span{
    display: inline-block;
    width: 25px;
    margin-right: 5px;
    text-align: right;
}