<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800,400italic,600italic,700italic,800italic,300,300italic' rel='stylesheet' type='text/css'>
    <script>
        function pagination() {
            var vars = {};
            var x = document.location.search.substring(1).split('&');
            for (var i in x)      {
                var z = x[i].split('=', 2);
                vars[z[0]] = unescape(z[1]);      }
            var x = ['frompage','topage','page','webpage','section','subsection','subsubsection'];
            for (var i in x)      {          var y = document.getElementsByClassName(x[i]);
                for (var j = 0; j < y.length; ++j){
                    y[j].textContent = vars[x[i]];
                }
            }
        }
    </script>
</head>
<body id="pdf-footer" onload="pagination()">
<span class="copyright">© Copyright MySite. All rights reserved.</span>
<span class="page"></span>
</body>
</html>