body {
    font-family:"Arial","Helvetica",sans-serif;
    font-size:10pt;
}

/* Control page rendring: please refer to doc/doc.txt */
@page {
    size: a4 portrait;
    margin: 1.5in 1in 1in 1in;
    @top-left {
        content: element(header);
    }
    @bottom-right {
        content: element(footer);
    }
    background-repeat: no-repeat;
    background-image: url('../images/pdf/footer.png');
    background-position: bottom right;
}

/*header as footer will automatically icluded in each pdf printed page*/
#header
{
    margin-left: 0;
    margin-top: 40px;
    display: block;
    padding : 3px;
    height: 110px;
    position: running(header);
    background-repeat: no-repeat;
    background-image: url('../images/pdf/header.png');
    background-size: 180px 70px;
    background-position: top center;
}

#header.nologo{
    background: none;
}

#footer
{
    display: block;
    position: running(footer);
    height: 340px;
    text-align:center;
    color:#0E2F77;
    font-size: 7pt;
    line-height: 1.5em;
}

#footer strong{
    font-size: 8pt;
    line-height: 1.5em;
}

#footer div.nota{
    margin-top: 15px;
}

#pagenumber:before {
    content: counter(page);
    font-family:"Arial","Helvetica",sans-serif;
}

#pagecount:before {
    content: counter(pages);
    font-family:"Arial","Helvetica",sans-serif;
}

/* Used for generating Table of content */
#toc a::after { content: leader('.') target-counter(attr(href), page); }
/* Use this class for first level titles */
.page_break_before{ page-break-before: always; }

/* Use this class for forcing page break inside pdf */
.page_breaker{page-break-after:always;}


#destinatari {
    text-align: left;
    padding-left: 330px;
}

#destinatari .cc{
    text-indent: -35px;
}

#oggetto {
    margin: 50px 0 30px;
    font-weight:bold;
    text-align: center;
    font-size:12pt;
}

#firma {
    margin-top:30px;
    padding-left: 230px;
    text-align: center;
}

.page-break-after {
    page-break-after: always;
}

p.indent{
    text-indent: 60px;
}

#data_luogo{
    line-height: 1.5em;
    font-size:12pt;
}

#data_luogo strong{
    text-decoration: underline;
}

ol{
    list-style-position: outside;
}

.italic{
    font-style: italic;
}

hr{
    background: #000;
    height: 1px;
    border: none;
}

.fake_list_container{
    text-align: justify;
}

.fake_list{
    margin-bottom: 0;
}

.fake_list span.odg-number{
    display: inline-block;
    vertical-align: top;
    width: 5%;
    margin-right: 5px;
}

.fake_list span.odg-object{
    display: inline-block;
    width: 90%;
}

.page-break
{
    page-break-after:always;
}

.text-center{
    text-align: center;
}